<section class="container">
  <h2 class="page-title">All Statuses</h2>

  <% @statuses.each do |status| %>
  <div class="status">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %> |
    <%= link_to 'Edit', edit_status_path(status) %> |
    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <% end %>
  <div class="">
    <%= link_to 'New Status', new_status_path %>
  </div>
</section>